<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.organicindiapre">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserDetails" />
        <activity
            android:name=".customer.Delivery"
            android:label="Delivery" /> <!-- <activity -->
        <!-- android:name=".customer.CustomerActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- </activity> -->
        <!-- <activity android:name=".custNew.SupplierSubscribe" /> -->
        <!-- <activity android:name=".custNew.SupplierOneTime" /> -->
        <!-- <activity android:name=".custNew.ProductSubscribe" /> -->
        <!-- <activity android:name=".custNew.ProductOneTime" /> -->
        <!-- <activity android:name=".customer.Customer_Activity" /> -->
        <!-- <activity -->
        <!-- android:name=".custNew.SecondActivity" -->
        <!-- android:label="Milk Asti" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".vendor.Vendor_Activity"
            android:label="MilkAsti"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".customer.Customer_Act"
            android:label="MilkAsti"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>